<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
    <Appenders>
        <File name="CollectorFile" fileName="/var/log/collector/collector.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
        </File>
        <RollingFile name="TweetRollingFile" fileName="/opt/collector/tweets.json"
                     filePattern="/opt/collector/data/tweets-%d{yyyy-MM-dd-HH-mm}.json" >
            <PatternLayout>
                <pattern>%m%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" />
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="TweetLogger" level="info" additivity="false">
            <appender-ref ref="TweetRollingFile" level="info"/>
        </Logger>
        <Root level="debug" additivity="false">
            <AppenderRef ref="CollectorFile"/>
        </Root>
    </Loggers>
</Configuration>